<div class="row auth-wrapper justify-content-around">
    <div class="col-md-4">
        <div class="sticky-top">

            <form [formGroup]="courierForm" (ngSubmit)="addCourier()">
                <h3 class="h3 mb-3 font-weight-normal text-center">Create new courier</h3>
                <div class="form-group">
                    <label>Name</label>
                    <input type="test" class="form-control" formControlName="name" placeholder="Enter name"
                        [ngClass]="{ 'is-invalid': courierForm.invalid && (courierForm.dirty ) && courierForm.controls['name'].errors }" />
                    <span class="invalid-feedback">
                        Name is not valid
                    </span>
                </div>
                <div class="form-group">
                    <label>Capacity</label>
                    <input type="number" class="form-control" formControlName="capacity" placeholder="Capacity" min="0"
                        [ngClass]="{ 'is-invalid': courierForm.invalid && (courierForm.dirty ) && courierForm.controls['capacity'].errors }" />
                    <span class="invalid-feedback">
                        Capacity is not valid
                    </span>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-2" [disabled]="courierForm.invalid">Create new
                    courier</button>
            </form>
            <button class="btn btn-block btn-warning mt-2" (click)="updateCourier()"
                [disabled]="courierForm.invalid || !modifyEnabled">Modify selected</button>

            <div *ngIf="serversideError" class="alert alert-danger" role="alert">
                Registering user failed
            </div>
        </div>
    </div>
    <div class="col">
        <h2>Couriers: </h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Capacity</th>
                <th scope="col">Available</th>
                <th scope="col">Number of orders</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let courier of couriers">
                <th scope="row">{{courier.id}}</th>
                <td>{{courier.name}}</td>
                <td>{{courier.capacity}}</td>
                <td>{{courier.isAvailable}}</td>
                <td>{{courier.orders.length}}</td>
                <td><div class="btn-group" role="group">
                    <button class="btn btn-sm btn-danger" (click)="deleteCourier(courier)">Delete</button>
                    <button class="btn btn-sm btn-warning" (click)="selectCourier(courier)">Select</button>
                    <button class="btn btn-sm btn-primary" routerLink="/mainpage/courier/{{courier.id}}">Details</button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Error</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              User can not be deleted, because it is used in some orders
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>