
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="/mainpage">Foodbear</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/">Add user</a>
                </li> -->

                <div class="navbar-nav" *ngIf="currentUser.isAdmin">
                    <li class="nav-item" >
                        <a class="nav-link" routerLink="adduser">Add new user</a>
                    </li> 
                    <li class="nav-item" >
                        <a class="nav-link" routerLink="listusers">List users</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" routerLink="addpartner">Add new partner</a>
                    </li> 
                </div>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="partners">List partners</a>
                    </li>
                </div>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="addfood">Add food</a>
                    </li>
                </div>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="addcourier">Add courier</a>
                    </li>
                </div>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="listfoods">List foods</a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-link" routerLink="profile">Profile</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-link" (click)="logout()" routerLink="login">Logout</a>
        </div>
    </div>
</nav>