
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="/mainpage/makeorder">Foodbear</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <div class="navbar-nav" *ngIf="currentUser.isAdmin">
                    <li class="nav-item" >
                        <a class="nav-link" routerLink="adduser">Add user</a>
                    </li> 
                    <li class="nav-item" >
                        <a class="nav-link" routerLink="listusers">List users</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" routerLink="addpartner">Manage partners</a>
                    </li> 
                </div>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="partners">List partners</a>
                    </li>
                </div>
                <div class="navbar-nav" *ngIf="currentUser.isAdmin">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="addfood">manage foods</a>
                    </li>
                </div>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="listfoods">List foods</a>
                    </li>
                </div>
                <div class="navbar-nav" *ngIf="currentUser.isAdmin">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="addcourier">Manage couriers</a>
                    </li>
                </div>
               
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="listcouriers">List couriers</a>
                    </li>
                </div>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="listorders">List orders</a>
                    </li>
                </div>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="makeorder">Make order</a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-link" routerLink="profile">Profile</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-link" (click)="logout()" routerLink="login">Logout</a>
        </div>
    </div>
</nav>