<div class="auth-wrapper col-md-4">
    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="addUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Register new user</h3>
        <div class="form-group">
            <label>Name</label>
            <input type="test" class="form-control" formControlName="name" placeholder="Enter name"
                [ngClass]="{ 'is-invalid': registerForm.invalid && (registerForm.dirty ) && registerForm.controls['name'].errors }" />
            <span class="invalid-feedback">
                Name is not valid
            </span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email"
                [ngClass]="{ 'is-invalid': registerForm.invalid && (registerForm.dirty ) && registerForm.controls['email'].errors }" />
            <span class="invalid-feedback">
                Email is not valid
            </span>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password"
                [ngClass]="{ 'is-invalid': registerForm.invalid && (registerForm.dirty) && registerForm.controls['password'].errors }" />
            <span class="invalid-feedback">
                Password is too short
            </span>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password"
                [ngClass]="{ 'is-invalid': registerForm.invalid && (registerForm.dirty) && registerForm.controls['confirmPassword'].errors }" />
            <span class="invalid-feedback" *ngIf="passwordMismatch()">
                The passwords are not matching
            </span>
        </div>
        <div class="from-group">
            <label>Role</label>
            <select class="form-control" formControlName="isAdmin">
                <option value="true">Admin</option>
                <option value="false">User</option>
            </select>
        </div>
        <button type="submit" class="btn btn-block btn-primary m-3" [disabled]="registerForm.invalid">Register user</button>
    </form>
    <div *ngIf="serversideError" class="alert alert-danger" role="alert">
        Registering user failed
    </div>
</div>