<div class="card mt-3">
    <div class="card-header text-white" style="background-color: #0d6efd;">
        {{partner.name}}
    </div>
    <ul class="list-group">
        <li class="list-group-item">Id: {{ partner.id }}</li>
        <li class="list-group-item">Telephone number: {{partner.tel}}</li>
        <li class="list-group-item">Tax number: {{partner.taxNumber}}</li>
        <li class="list-group-item">Address: {{partner.address}}</li>
        <li class="list-group-item">
            <div class="btn-group" role="group">
                <button *ngIf="buttons" class="btn btn-danger" (click)="delete()">Delete</button>
                <button *ngIf="buttons" class="btn btn-warning" (click)="modify()">Select</button>
                <button class="btn btn-info" routerLink="/mainpage/partner/{{partner.id}}">Details</button>
            </div>
        </li>
    </ul>
</div>