<div class="row align-items-start">
    <div class="col-md-5">
        <h4>Name: {{partner.name}}</h4>
        <p>Id: {{partner.id}}</p>
        <p>Telephone number: {{partner.tel}}</p>
        <p>Tax number: {{partner.taxNumber}}</p>
        <p>Address: {{partner.address}}</p>
    </div>
    <div class="col-md-6 text-right">
        <button *ngIf="buttons" class="btn btn-danger" (click)="delete()">Delete</button>
        <button *ngIf="buttons" class="btn btn-warning" (click)="modify()">Select</button>
        <button class="btn btn-info" routerLink="/mainpage/partner/{{partner.id}}">Details</button>
    </div>
</div>