<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Destination</th>
        <th scope="col">Note</th>
        <th scope="col">Foods</th>
        <th scope="col">FullPrice</th>
        <th scope="col">Courier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td>{{order.address}}</td>
        <td>{{order.note}}</td>
        <td>{{getFoods(order)}}</td>
        <td>{{getFullPrice(order)}}</td>
        <td>{{order.courier.name}}</td>
      </tr>
    </tbody>
  </table>
